{% extends "account/base.html" %}
{% load crispy_forms_tags %}
{% load i18n %}

{% block head_title %}{% trans "Signup" %}{% endblock %}

{% block content %}

<div class="container" style="min-height: calc(68vh - 68px); max-width: 80%; padding-top: 40px; padding-bottom: 40px;">
  <h1 class="h3 mb-3 font-weight-normal text-center">{% trans "Sign Up" %}</h1>
  <form style="padding: 0 186px;" class="signup" id="signup_form" method="post" action="{% url 'account_signup' %}">
    <p>{% blocktrans %}Already have an account? Then please <a href="{{ login_url }}">sign in</a>.{% endblocktrans %}</p>
    {% csrf_token %}
    {{ form|crispy }}
    {% if redirect_field_value %}
    <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}"/>
    {% endif %}
    <button type="submit" class="btn btn-info">{% trans "Sign Up" %} &raquo;</button>
  </form>
</div>

{% endblock %}
