<div class="form-group row">
    <div class="col-md-6">
        <label for="exampleFormControlSelect1">Screensize</label>
        <select class="form-control" id="exampleFormControlSelect1" name="screensize">
            {% for s in screensize %}
                <option value="{{ s.id }}">{{ s }}</option>
            {% endfor %}
        </select>
    </div>
    <div class="col-md-6">
        <label for="exampleFormControlSelect1">Resolution</label>
        <select class="form-control" id="exampleFormControlSelect1" name="resolution">
            {% for s in resolution %}
                <option value="{{ s.id }}">{{ s }}</option>
            {% endfor %}
        </select>
    </div>
</div>