<div class="form-group row">
    <div class="col">
        <label for="exampleFormControlSelect1">Capacity</label>
        <select class="form-control" id="exampleFormControlSelect1" name="capacity">
            {% for s in capacity %}
                {% if s|lower == product.capacity|lower %}
                    <option value="{{ s.id }}" selected>{{ s }}</option>
                {% else %}
                    <option value="{{ s.id }}">{{ s }}</option>
                {% endif %}
            {% endfor %}
        </select>
    </div>
</div>
