{% extends 'base.html' %}
{% load static %}
{% block title %}
    <title>About - Micro Center</title>
{% endblock title %}

{% block content %}
<div class="container">
    <div class="p-5">
        <h1>About Micro Center</h1>
        <h4>Here for Your Essential Communication and Information Technology Needs</h4>
        <p>Over 22 million IT professionals, small businesses, local governments, students, engineers, programmers,
            makers,
            tech enthusiasts, gamers, computer product and electronic device customers have relied on Micro Center for
            their
            communication and information technology support needs since 1979. Micro Center provides the essential
            services
            and technology to support the health, safety, and welfare of our communities. Now as 1 in 5 Americans have
            been
            ordered to stay at home, Micro Center can provide you with the essential technology support products and
            services to work, learn, and receive telemedicine from the safety of your home. We are deeply passionate
            about
            providing for the health and safety of the public during this time in our country.</p>
        <p>Micro Center is among the nation's leading information technology, communications, and electronic device
            suppliers, operating twenty-five large stores in major marketsnationwide. Founded in 1979 in Columbus, Ohio,
            Micro Center has grown steadily and profitably. Our stores are designed to supply the needs of a wide
            variety of
            consumers – from small businesses to local schools - with well-trained associates who offerinformation
            technology solutions.</p>
        <p>Uniquely focused on information technology products, Micro Center offers more computers, electronics,
            networking
            and communication devices (more than 30,000 items in stock) than any other company. Micro Center is deeply
            passionate about providing information technology products and technology support services. We have offered
            in-store pickup of online orders since 2010. Consumers can visit Micro Center's 25 stores from
            coast-to-coast or
            microcenter.com for thousands of computer-related items, electronics and other information technology
            products.</p>
    </div>
</div>
{% endblock content %}