<table class="table">
    <thead>
    <tr>
        <th scope="col">Part</th>
        <th scope="col">Recommendation</th>
        <th scope="col">Price</th>
    </tr>
    </thead>
    <tbody>
    <tr>
        <td>CPU</td>
        <td>{{cpu}}</td>
        <td>${{cpu_price}}</td>
    </tr>
    <tr>
        <td>CPU Cooler</td>
        <td>{{cooler}}</td>
        <td>${{cooler_price}}</td>
    </tr>
    <tr>
        <td>Motherboard</td>
        <td>{{mobo}}</td>
        <td>${{mobo_price}}</td>
    </tr>
    <tr>
        <td>RAM</td>
        <td>{{ram}}</td>
        <td>${{ram_price}}</td>
    </tr>
    <tr>
        <td>SSD</td>
        <td>{{ssd}}</td>
        <td>${{ssd_price}}</td>
    </tr>
    <tr>
        <td>HDD</td>
        <td>{{hdd}}</td>
        <td>${{hdd_price}}</td>
    </tr>
    <tr>
        <td>Graphics Card</td>
        <td>{{gpu}}</td>
        <td>${{gpu_price}}</td>
    </tr>
    <tr>
        <td>Case</td>
        <td>{{case}}</td>
        <td>${{case_price}}</td>
    </tr>
    <tr>
        <td>Power Supply</td>
        <td>{{power}}</td>
        <td>${{power_price}}</td>
    </tr>
    <tr>
        <td></td>
        <td><span class="float-right">Price Before Rebates</span></td>
        <td><b>{{price_be}}</b></td>
    </tr>
    </tbody>
</table>