{% extends 'base.html' %}
{% load static %}
{% block title %}
    <title>Policy - Micro Center</title>
{% endblock title %}

{% block content %}
<div class="container">
    <div class="p-5">
        <h1>Return or exchange timeframes</h1>
        <h4>Eligible return or exchange timeframes are from the date of purchase:</h4>
        <p>15 calendar days</p>
        <ul>
            <li>Camcorders and projectors</li>
            <li>Desktop / Notebook computers</li>
            <li>Digital cameras</li>
            <li>Motherboards</li>
            <li>Processors</li>
            <li>Tablets</li>
            <li>3D printers, 3D scanners, and CD/DVD duplicators</li>
        </ul>
        <h1>Refunds</h1>
        <p>Micro Center is not responsible for expenses, fees or additional costs incurred as a result of defective or
            incompatible products</p>
    </div>
</div>
{% endblock content %}