<div class="container mt-5 mb-3">
    <h3 class="h3" align="center">Most Popular Categories</h3>
    <hr>
    <div class="row">
        <div class="col-md-3">
            <div class="card p-3 mb-2">
                <div class="mt-1" align="center">
                    <a href="/category/monitors/">
                        <img style="max-width: -webkit-fill-available;"
                             src="https://60a99bedadae98078522-a9b6cded92292ef3bace063619038eb1.ssl.cf2.rackcdn.com/images_CategoryImages_motherboards500.jpg">
                        <h3 class="heading">Motherboards</h3>
                    </a>
                </div>
            </div>
        </div>
        <div class="col-md-3">
            <div class="card p-3 mb-2">
                <div class="mt-1" align="center">
                    <a href="/category/memory/">
                        <img style="max-width: -webkit-fill-available;"
                             src="https://60a99bedadae98078522-a9b6cded92292ef3bace063619038eb1.ssl.cf2.rackcdn.com/images_CategoryImages_memory500.jpg">
                        <h3 class="heading">Memory</h3>
                    </a>
                </div>
            </div>
        </div>
        <div class="col-md-3">
            <div class="card p-3 mb-2">
                <div class="mt-1" align="center">
                    <a href="/category/processors/">
                        <img style="max-width: -webkit-fill-available;"
                             src="https://60a99bedadae98078522-a9b6cded92292ef3bace063619038eb1.ssl.cf2.rackcdn.com/images_CategoryImages_processors500.jpg">
                        <h3 class="heading">Processors</h3>
                    </a>
                </div>
            </div>
        </div>
        <div class="col-md-3">
            <div class="card p-3 mb-2">
                <div class="mt-1" align="center">
                    <a href="/category/motherboards/">
                        <img style="max-width: -webkit-fill-available;"
                             src="https://60a99bedadae98078522-a9b6cded92292ef3bace063619038eb1.ssl.cf2.rackcdn.com/images_CategoryImages_monitors2500.jpg">
                        <h3 class="heading">Monitors</h3>
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>